/* 使用 CSS transition 平滑過渡 */
.element {
    transition: all 0.3s ease;
}

/* 或使用 opacity 配合 visibility */
.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}

.visible {
    opacity: 1;
    visibility: visible;
}


/* Widget的樣式 */
.selector-for-some-widget {
    box-sizing: content-box;
}

/* 基本樣式設定 */
/*body {
    margin: 5;
    font-family: monospace;
    background-color: #4f5154;
    color: #ffffff;
}*/

html * {
    font-family: MyCustomFont !important;
}
/* 中文用微軟正黑 */
@font-face {
    font-family: MyCustomFont;
    src: local("cwTeXYen"), sans-serif,serif;
    unicode-range: U+4E00-9FFF;
}
/* 英文用 Segoe UI */
@font-face {
    font-family: MyCustomFont;
    src:  local(Segoe UI);
    unicode-range: U+00-024F;
}


/* 整體容器 */
.container {
    display: flex;
    height: 100%;
}

/* 側邊欄 */
.sidebar {
    /* 之前的樣式 */
    width: 100px;
    min-width: 100px; /* 設置最小寬度以避免側邊欄過小 */
    height: auto;
    background-color: #23272a; /* 深灰色背景 */
    padding: 20px; /* 內邊距 */
    box-sizing: border-box; /* 包含內邊距和邊框 */
    display: flex; /* 使用Flexbox布局 */
    flex-direction: column; /* 垂直排列內容 */
    align-items: center; /* 水平居中 */
    border-right: 2px solid #ccc; /* 右邊的邊框，增加分隔感 */
    position: sticky; /* 使側邊欄在滾動時保持固定 */
    top: 0; /* 在視窗上方固定 */
    height: 100vh; /* 設置高度為視窗的高度，讓它充滿整個側邊 */
}

.sidebar img {
    align-items: center;
    width: 100%;
    min-width: 70px;
    max-width: 1000px;
    height: auto;
    margin-bottom: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.sidebar img:hover {
    transform: scale(1.1); /* 滑鼠移動到按鈕時，會稍微變大 */
}

/* 主要內容 */
.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 5px;
    box-sizing: border-box; /* padding 和 border 都會包含在元素的總寬度和高度內，不會額外增加尺寸*/
    overflow-y: auto;/*內容超過容器的高度，自動顯示滾動條*/
}

/* 標頭 */
.head {
    text-align: center;
}

/* 標頭樣式 */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #23272a;
    padding: 10px 20px;
    box-sizing: border-box;
    border: 1px solid #ffffff;
    height: 80px;
}

.header .left-section {
    display: flex;
    align-items: center;
    font-size: 30px;
}

.header .left-section div {
    margin-right: 20px;
}

.header .left-section img {
    width: 20%;
    height: 5%;
    margin: 5px;
    cursor: pointer;
}


.header .right-section {
    display: flex;
    align-items: center;
    gap: 10px;
}



.header .right-section a,button {
    text-decoration: none;
    color: white;
}



/* 日期和時間 */
.date-time {
    text-align: left;
    margin: 20px 0;
    font-size: 1.2em;
    padding-right: 5px;
}

/* 搜索和篩選 */
.date {
    display: flex;
    background-color: #23272a;
    justify-content: space-between;
    align-items: center; /* 確保內容垂直居中 */
    padding: 10px 20px; /* 調整 padding 來改變高度 */
    box-sizing: border-box;
    border: 1px solid #ffffff;
    font-size: clamp(13px, 2vw, 18px);
    height: 70px; /* 設置固定高度 */
}

.date .danger-index-box {
    color: white; /* 白色文字 */
    border-radius: 10px; /* 圓角 */
    padding: 5px 10px; /* 內邊距 */
    text-align: center; /* 文字置中 */
    max-width: 250px; /* 調整最大寬度，使框框更寬 */
    margin-left: auto; /* 靠右顯示 */
    height: 50px; /* 設定固定高度 */
    display: flex; /* 使用 flex 來垂直居中內容 */
    align-items: center; /* 垂直居中 */
    white-space: nowrap; /* 防止換行 */
    border: 3px solid #ffffff;
    border-style:groove;
}

.date .danger-index-title {
    font-size: 1em; /* 標題字型大小 */
    margin: 0; /* 去除邊距以保持一致性 */
}

.date .danger-index-value {
    font-size: 1.2em; /* 調整數字字型大小 */
    font-weight: bold; /* 加粗 */
    margin-left: 5px; /* 增加標題和數值之間的間距 */
    margin: 0; /* 去除邊距 */
}



.right-section .search-section{
    display: flex;
    align-items: center;
    flex-shrink: 0;
    height: calc(2 / 3 * 100%); /* 讓 search-section 高度與父容器一致 */
}

/* 類別按鈕 */
.category {
    background-color: #23272a;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 1px;
    box-sizing: border-box;
    border: 1px solid #ffffff;
    margin-bottom: 20px;
}

.category a {
    flex: 1 1 calc(12% - 4px); /* 調整按鈕的寬度 */
    margin: 2px; /* 減少間距 */
    padding: 10px; /* 維持高度 */
    border: none;
    border-radius: 60px;
    cursor: pointer;
    background-color: #23272a;
    color: white;
    border: 2px solid #e7e7e7;
    font-size: clamp(12px, 2vw, 16px);
    min-width: 100px; /* 調整最小寬度以適應新的寬度 */
    transition: background-color 0.3s, color 0.3s; /* 增加過渡效果 */
}

@media (max-width: 1000px) {
    .category button {
        flex: 1 1 calc(25% - 8px); /* 針對小屏幕調整按鈕寬度 */
    }
}

@media (max-width: 600px) {
    .category a {
        flex: 1 1 calc(25% - 10px); /* 每行顯示四個按鈕 */
    }
}

.category button:hover {
    background-color: rgb(111, 106, 106);
}

/* 最新更新區域 */
.latest-updates {
    background-color: #23272a;
    display: flex;
    flex-direction: column;
    height: 450px; /* 設定固定高度 */
    justify-content: flex-start;
    width: 100%;
    flex-grow: 1;
    border: 2px solid #e7e7e7;
    padding: 15px;
    overflow-y: auto; /* 當內容超出時顯示垂直滾動條 */
    box-sizing: border-box;
    margin-bottom: 10px;
}

/* 更新項目樣式 */
.update-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    background-color: #40444b;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}

.update-item .text-content {
    flex-grow: 1;
}

.update-item .timestamp {
    color: #b9bbbe;
}

/* 自訂背景顏色 */
.bg-custom {
    background-color: #40444b;
}

.dashHead {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}

.slt {
    padding: 9px;
    font-size: 16px;
    border-radius:5px;
}

/*
攻擊類型
威脅級別
高級別類別
低級別類別
網頁分析


*/

@media (max-width: 768px) { /* 根據需求調整此寬度 */
    .right-section a {
        display: none; /* 隱藏按鈕 */
    }
}