.map{
    background-image:url("../images/fcumap.png");
    background-size:contain;
    background-repeat:no-repeat;
}



.my-container {
    display: flex;
    justify-content: space-between; 
    gap: 20px; /
}

.firstbox {
    flex-basis: 75%;
    padding: 20px;
    margin-left: 10px;
    background-image: url("../images/fcumap.png");
    background-size: cover;
    background-position: center; 
    height:948px;
    border: 1px solid #ddd;
}

.secondbox {
    flex-basis: 25%; 
    padding: 20px;
    margin-right:10px;
    background-color: #e9ecef;
    border: 1px solid #ddd;
}

.secondbox .location{
    display: flex;
    background-color:lightblue;
    margin:10px;
    height:200px;
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
    align-items: center; 
    justify-content: center; 
    flex-direction: column; 

}

.firstbox .row {
    height: 100px; 
    margin-bottom: 10px;
    display: flex;
}

.firstbox .row1 {
    height: 190px; 
    margin-bottom: 10px;
    display: flex;

}

.firstbox .row3 {
    height: 118px; 
    margin-bottom: 10px; 
    display: flex;

}

.firstbox .row4 {
    height: 130px; 
    margin-bottom: 10px;
    display: flex;

}

.firstbox .column {
    /* flex: 1;  */
    display: flex;
    margin-right:10px;
    /* align-items: center; */
    justify-content: center;
}

.hover-container {
    position: relative;
    display: inline-block;
  }
  
  .hover-target {
    padding: 10px;
    cursor: pointer;
  }
  
  .hover-content {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: lightslategrey;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius:35px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10;
    width: 350px;
    text-align: center; 

  }
  
  .hover-container:hover .hover-content{
    display: block;
  }

  
  