.map{
    background-image:url("../images/FCU1.jpg");
    background-size:contain;
    background-repeat:no-repeat;
}



.my-container {
    display: flex;
    justify-content: space-between; 
    gap: 20px; /
}

.firstbox {
    flex-basis: 75%;
    margin-left: 10px;
    background-image: url("../images/FCU1.jpg");
    background-size: cover;
    background-position: center; 
    height:948px;
    border: 1px solid #ddd;
}

.firstbox .row {
    height: 95px; 
    margin-left: 1px;
    margin-bottom: 15px;
    /*background-color: rgba(255,255,255,0.5);*/
    display: flex;
}

.firstbox .row1 {
    height: 170px; 
    margin-top: 13px;
    margin-bottom: 15px;
    display: flex;
    /*background-color: rgba(255,255,255,0.5);*/
}

.firstbox .row3 {
    height: 150px; 
    margin-bottom: 20px; 
    display: flex;
    /*background-color: rgba(255,255,255,0.5);*/
}

.firstbox .row4 {
    height: 70px; 
    margin-bottom: 15px;
    display: flex;
    /*background-color: rgba(255,255,255,0.5);*/
}

.firstbox .row5 {
    height: 110px; 
    margin-bottom: 10px;
    display: flex;
    /*background-color: rgba(255,255,255,0.5);*/
}

.firstbox .column {
    /* flex: 1;  */
    display: flex;
    margin-right:10px;
    /*background-color: rgba(50,255,255,0.5);*/
    /* align-items: center; */
    justify-content: center;
}

.hover-container {
    position: relative;
    display: inline-block;
  }
  
  .hover-target {
    padding: 10px;
    cursor: pointer;
  }
  
  .hover-content {
    display: none;
    position: fixed;
    top: 40%;
    left: 55%;
    background-color: #566a9f; /* 深灰色背景 */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius:35px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10;
    width: 300px;
    text-align: center; 

  }
  
  .hover-container:hover .hover-content{
    display: block;
  }

/*右側訊息欄*/
.secondbox {
    flex-basis: 25%; 
    padding: 30px;
    margin-right:10px;
    background-color: #e9ecef;
    border: 1px solid #ddd;
    align-items: center;
 
}

.secondbox .location{
    flex-direction:column;
    display: flex;
    background-color: #23272a; /* 深灰色背景 */
    height:180px;
    text-align: center;
    border: 1px solid #ddd;
    align-items: center; 
    justify-content: center; 
    flex-direction: column; 
    margin-right:10px;
    margin-bottom: 30px;
}

.secondbox .location{
    flex-direction:column;
    display: flex;
    background-color: #23272a; /* 深灰色背景 */
    height:200px;
    text-align: center;
    border: 1px solid #ddd;
    align-items: center; 
    justify-content: center; 
    flex-direction: column; 
    margin-right:10px;

}

.secondbox .location1{
    flex-direction:column;
    display: flex;
    background-color: #23272a; /* 深灰色背景 */
    height:200px;
    text-align: center;
    border: 1px solid #ddd;
    align-items: center; 
    justify-content: center; 
    flex-direction: column; 
    margin-right:10px;
}