<!--
開始時間
事件名稱
事件類別
發源地
目的地
動作
威脅類別
嚴重程度
-->

{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="table-wrapper">
    <table>
        <thead>
            <tr>
                <th>開始時間</th>
                <th>事件名稱</th>
                <th>事件類別</th>
                <th>動作</th>
                <th>威脅類別</th>
                <th>嚴重程度</th>
                <th>發源地</th>
                <th>目的地</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2024-11-11 08:00</td>
                <td>攻擊偵測</td>
                <td>網路攻擊</td>
                <td>阻擋</td>
                <td>惡意軟件</td>
                <td>高</td>
                <td>tanet-untrust 校外的TANET區域 (事件最多)</td>
                <td>tanet-trust 校內的TANET區域</td>
            </tr>
            <tr>
                <td>2024-11-11 09:15</td>
                <td>數據洩漏</td>
                <td>數據泄露</td>
                <td>通報</td>
                <td>數據盜竊</td>
                <td>中</td>
                <td>idc-untrust校外的IDC區域</td>
                <td>oit-untrust 校外的機房區域</td>
            </tr>
            <tr>
                <td>2024-11-11 10:30</td>
                <td>漏洞利用</td>
                <td>漏洞攻擊</td>
                <td>修補</td>
                <td>系統漏洞</td>
                <td>高</td>
                <td>tanet-untrust 校外的TANET區域 (事件最多)</td>
                <td>oit-untrust 校外的機房區域</td>
            </tr>
            <tr>
                <td>2024-11-11 11:45</td>
                <td>網絡釣魚</td>
                <td>社交工程</td>
                <td>阻擋</td>
                <td>詐騙</td>
                <td>低</td>
                <td>oit-trust（oit）資訊處</td>
                <td>idc-untrust 校外的機房區域</td>
            </tr>
            <tr>
                <td>2024-11-11 13:00</td>
                <td>DDoS攻擊</td>
                <td>分佈式攻擊</td>
                <td>緩解</td>
                <td>服務阻斷</td>
                <td>中</td>
                <td>tanet-trust 校內的TANET區域</td>
                <td>idc-untrust 校外的機房區域</td>
            </tr>
            <tr>
                <td>2024-11-11 14:15</td>
                <td>系統入侵</td>
                <td>未授權訪問</td>
                <td>通報</td>
                <td>非法訪問</td>
                <td>高</td>
                <td>oit-trust（oit）資訊處</td>
                <td>idc-trust 校內的機房區域</td>
            </tr>
            <tr>
                <td>2024-11-11 15:30</td>
                <td>數據竊取</td>
                <td>數據盜竊</td>
                <td>阻擋</td>
                <td>數據盜竊</td>
                <td>高</td>
                <td>tanet-untrust 校外的TANET區域 (事件最多)</td>
                <td>idc-trust 校內的機房區域</td>
            </tr>
            <tr>
                <td>2024-11-11 16:45</td>
                <td>病毒感染</td>
                <td>惡意軟件</td>
                <td>移除</td>
                <td>病毒</td>
                <td>中</td>
                <td>tanet-untrust 校外的TANET區域 (事件最多)</td>
                <td>tanet-trust 校內的TANET區域</td>
            </tr>
            <tr>
                <td>2024-11-11 18:00</td>
                <td>網絡釣魚</td>
                <td>社交工程</td>
                <td>阻擋</td>
                <td>詐騙</td>
                <td>低</td>
                <td>idc-trust校內的IDC（機房）區域</td>
                <td>oit-untrust 校外的機房區域</td>
            </tr>
            <tr>
                <td>2024-11-11 19:15</td>
                <td>DDoS攻擊</td>
                <td>分佈式攻擊</td>
                <td>緩解</td>
                <td>服務阻斷</td>
                <td>高</td>
                <td>tanet-trust 校內的TANET區域</td>
                <td>idc-trust 校內的機房區域</td>
            </tr>
            <tr>
                <td>2024-11-1 18:00</td>
                <td>網絡釣魚</td>
                <td>社交工程</td>
                <td>阻擋</td>
                <td>詐騙</td>
                <td>低</td>
                <td>idc-trust校內的IDC（機房）區域</td>
                <td>oit-untrust 校外的機房區域</td>
            </tr>
            <tr>
                <td>2024-10-19 19:15</td>
                <td>DDoS攻擊</td>
                <td>分佈式攻擊</td>
                <td>緩解</td>
                <td>服務阻斷</td>
                <td>高</td>
                <td>tanet-trust 校內的TANET區域</td>
                <td>idc-trust 校內的機房區域</td>
            </tr>
        </tbody>
    </table>
</div>
</div>


<link rel="stylesheet" href="{{ url_for('static', filename='css/detailedData.css') }}">

{% endblock %}