<!-- page1.html -->
{% extends "base.html" %}

{% block content %}
<div class="latest-updates">
    <div class="update-item" data-timestamp="2023-07-30T12:00:00Z">
        <div class="text-content">
            <div>發布消息：請注意，下午有重要會議，請準時參加。</div>
            <div class="timestamp">2023年8月12日 9:08</div>
        </div>
    </div>
    <div class="update-item" data-timestamp="2023-07-30T11:55:00Z">
        <div class="text-content">
            <div>發布消息：請注意，下午有重要會議，請準時參加。</div>
            <div class="timestamp">2023年8月1日 7:55</div>
        </div>
    </div>
    <div class="update-item" data-timestamp="2023-07-30T11:30:00Z">
        <div class="text-content">
            <div>發布消息：請注意，下午有重要會議，請準時參加。</div>
            <div class="timestamp">2023年7月24日 14:25</div>
        </div>
    </div>
    <div class="update-item" data-timestamp="2023-07-30T12:00:00Z">
        <div class="text-content">
            <div>發布消息：請注意，下午有重要會議，請準時參加。</div>
            <div class="timestamp">2023年7月17日 18:33</div>
        </div>
    </div>
    <div class="update-item" data-timestamp="2023-07-30T12:00:00Z">
        <div class="text-content">
            <div>發布消息：請注意，下午有重要會議，請準時參加。</div>
            <div class="timestamp">2023年7月8日 10:00</div>
        </div>
    </div>
    <div class="update-item" data-timestamp="2023-07-30T12:00:00Z">
        <div class="text-content">
            <div>發布消息：請注意，下午有重要會議，請準時參加。</div>
            <div class="timestamp">2023年7月17日 18:33</div>
        </div>
    </div>
    <div class="update-item" data-timestamp="2023-07-30T12:00:00Z">
        <div class="text-content">
            <div>發布消息：請注意，下午有重要會議，請準時參加。</div>
            <div class="timestamp">2023年7月17日 18:33</div>
        </div>
    </div>
    <div class="update-item" data-timestamp="2023-07-30T12:00:00Z">
        <div class="text-content">
            <div>發布消息：請注意，下午有重要會議，請準時參加。</div>
            <div class="timestamp">2023年7月17日 18:33</div>
        </div>
    </div>
    <div class="update-item" data-timestamp="2023-07-30T12:00:00Z">
        <div class="text-content">
            <div>發布消息：請注意，下午有重要會議，請準時參加。</div>
            <div class="timestamp">2023年7月17日 18:33</div>
        </div>
    </div>
    <div class="update-item" data-timestamp="2023-07-30T12:00:00Z">
        <div class="text-content">
            <div>發布消息：請注意，下午有重要會議，請準時參加。</div>
            <div class="timestamp">2023年7月17日 18:33</div>
        </div>
    </div>
</div>
{% endblock %}
