
{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/map.css') }}">
<div class="my-container hover-overlay">
    <div class="firstbox">
        <div class="row1">
            <div class="column hover-container" style="width: 50px; margin-left:55px">
                <span class="hover-target"></span>
                <div class="hover-content">
                  <h5>文學創新中心</h5>
                  <h3 style="font-weight:bolder">54.3</h3>
                  <span>風險值(Risk Index)</span>
                </div>
            </div>
            <div class="column hover-container"style="width: 130px;">
             <span class="hover-target"></span>
                <div class="hover-content">
                    <h5>學思樓</h5>
                    <h3 style="font-weight:bolder">No Result</h3>
                    <span>風險值(Risk Index)</span>
                </div>
            </div>
            <div class="column hover-container" style="width: 200px; margin-left:185px;">
                <span class="hover-target"></span>
                <div class="hover-content">
                    <h5>體育館</h5>
                    <h3 style="font-weight:bolder">No Result</h3>
                    <span>風險值(Risk Index)</span>
                </div>
            </div>
            <div class="column hover-container" style="width: 110px ;margin-left:30px;">
                <span class="hover-target"></span>
                <div class="hover-content">
                    <h5>土木水利館</h5>
                    <h3 style="font-weight:bolder">54.3</h3>
                    <span>風險值(Risk Index)</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column hover-container" style="width: 50px; margin-left:60px">
                <span class="hover-target"></span>
                <div class="hover-content">
                    <h5>文學創新中心</h5>
                    <h3 style="font-weight:bolder">54.3</h3>
                    <span>風險值(Risk Index)</span>
                </div>
            </div>
            <div class="column hover-container"style="width: 130px;">
                <span class="hover-target"></span>
                <div class="hover-content">
                    <h5>土木水利館</h5>
                    <h3 style="font-weight:bolder">10.9</h3>
                    <span>風險值(Risk Index)</span>
                </div>
            </div>
            <div class="column hover-container" style="width: 200px;">
                <span class="hover-target"></span>
                <div class="hover-content">
                    <h5>理學大樓</h5>
                    <h3 style="font-weight:bolder">44.3</h3>
                    <span>風險值(Risk Index)</span>
                </div>
            </div>
        </div>
        <div class="row3">
            <div class="column hover-container" style="width: 130px; margin-left:100px">
                <span class="hover-target"></span>
                <div class="hover-content">
                    <h5>育樂館</h5>
                    <h3 style="font-weight:bolder">10.3</h3>
                    <span>風險值(Risk Index)</span>
                </div>
            </div>
        </div>
        <div class="row4">
            <div class="column hover-container" style="width: 130px; margin-left:110px">
                <span class="hover-target"></span>
                <div class="hover-content">
                    <h5>語文大樓</h5>
                    <h3 style="font-weight:bolder">44.3</h3>
                    <span>風險值(Risk Index)</span>
                </div>
            </div>
            <div class="column" style="width: 150px; margin-left:20px">
                <!-- <span class="hover-target"></span>
                <div class="hover-content">
                  這是當鼠標懸停時顯示的內容
                </div> -->
            </div>
            <div class="column hover-container" style="width: 120px; margin-left:5px">
                <span class="hover-target"></span>
                <div class="hover-content">
                    <h5>人言大樓</h5>
                    <h3 style="font-weight:bolder">88.4</h3>
                    <span>風險值(Risk Index)</span>
                </div>
            </div>
            <div class="column hover-container" style="width: 100px; margin-left:5px">
                <span class="hover-target"></span>
                <div class="hover-content">
                    <h5>人社館</h5>
                    <h3 style="font-weight:bolder">42.6</h3>
                    <span>風險值(Risk Index)</span>
                </div>
            </div>
            <div class="column hover-container" style="width: 100px;">
                <span class="hover-target"></span>
                <div class="hover-content">
                    <h5>電通館</h5>
                    <h3 style="font-weight:bolder">44.3</h3>
                    <span>風險值(Risk Index)</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column hover-container" style="width: 130px; margin-left:120px">
                <span class="hover-target"></span>
                <div class="hover-content">
                    <h5>忠勤樓</h5>
                    <h3 style="font-weight:bolder">44.3</h3>
                    <span>風險值(Risk Index)</span>
                </div>
            </div>
            <div class="column hover-container" style="width: 160px; margin-left:20px">
                <span class="hover-target"></span>
                <div class="hover-content">
                    <h5>工學館</h5>
                    <h3 style="font-weight:bolder">44.3</h3>
                    <span>風險值(Risk Index)</span>
                </div>
            </div>
            <div class="column hover-container" style="width: 230px; margin-left:125px">
                <span class="hover-target"></span>
                <div class="hover-content">
                    <h5>資訊電機館</h5>
                    <h3 style="font-weight:bolder">87.3</h3>
                    <span>風險值(Risk Index)</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column hover-container" style="width: 130px; margin-left:130px">
                <span class="hover-target"></span>
                <div class="hover-content">
                    <h5>行政大樓</h5>
                    <h3 style="font-weight:bolder">44.3</h3>
                    <span>風險值(Risk Index)</span>
                </div>
            </div>
            <div class="column hover-container" style="width: 90px; margin-left:5px">
                <span class="hover-target"></span>
                <div class="hover-content">
                    <h5>行政二館</h5>
                    <h3 style="font-weight:bolder">44.3</h3>
                    <span>風險值(Risk Index)</span>
                </div>
            </div>
            <div class="column hover-container" style="width: 130px; margin-left:130px">
                <span class="hover-target"></span>
                <div class="hover-content">
                    <h5>圖書館</h5>
                    <h3 style="font-weight:bolder">30.8</h3>
                    <span>風險值(Risk Index)</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column hover-container" style="width: 150px; margin-left:360px">
                <span class="hover-target"></span>
                <div class="hover-content">
                    <h5>丘逢甲紀念館</h5>
                    <h3 style="font-weight:bolder">67.3</h3>
                    <span>風險值(Risk Index)</span>
                </div>
            </div>
            <div class="column hover-container" style="width: 130px; margin-left:5px">
                <span class="hover-target"></span>
                <div class="hover-content">
                    <h5>科學與航太館</h5>
                    <h3 style="font-weight:bolder">50.9</h3>
                    <span>風險值(Risk Index)</span>
                </div>
            </div>
            <div class="column hover-container" style="width: 135px;">
                <span class="hover-target"></span>
                <div class="hover-content">
                    <h5>商學大樓</h5>
                    <h3 style="font-weight:bolder">89.0</h3>
                    <span>風險值(Risk Index)</span>
                </div>
            </div>
        </div>
    </div>
    <div class="secondbox">
        <div class="row">
            <div class="location">
                <h5>福星校區</h5>
                <h3 style="font-weight:bolder">68.0</h3>
                <span>風險值(Risk Index)</span>
            </div>
        </div>
        <div class="row">
            <div class="location">
                <h5>校內物聯網裝置專用網段</h5>
                <h3 style="font-weight:bolder">68.0</h3>
                <span>風險值(Risk Index)</span>
            </div>

        </div>
        <div class="row">
            <div class="location">
                <h5>無線網路</h5>
                <h3 style="font-weight:bolder">68.0</h3>
                <span>風險值(Risk Index)</span>
            </div>
        </div>
        <div class="row">
            <div class="location">
                <h5>建築館</h5>
                <h3 style="font-weight:bolder">54.8</h3>
                <span>風險值(Risk Index)</span>
            </div>
        </div>
    </div>
</div>


{% endblock %}
