{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="dashHead">
      <div class="row">
        <div class="col-3"><label class="lbt">時間點</label></div>
        <div class="col-3">
          <select class='slt' name='年'>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
          </select>
        </div>
        <div class="col-2">
          <select class='slt' name='月'>
            <option value="1">1月</option>
            <option value="2">2月</option>
          </select>
        </div>
        <div class="col-2">
          <select class='slt' name="日">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
        </div>
        <div class="col-2"><button type="submit" class="btn-src">查詢</button></div>
      </div>
    </div>

    <div class="dasgLeft">
      <div class="row med">
        <div class="col-4 box">
          <h4>Log Resource</h4>
          <h5>N/aSeries @ PA-5250 140.134.3.111</h5>
          <span>835391</span>
        </div>
        <div class="col-4 box">
          <h4>Bytes Sent</h4>
          <h5>N/A</h5>
          <span>835391</span>
        </div>
        <div class="col-4 box">
          <h4>Bytes Received</h4>
          <h5>N/A</h5>
          <span>835391</span>
        </div>
      </div>
      <div class="row d-flex align-items-center justify-content-center">
        <div class="col-6 offset-1 box1">
          <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="..." class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div class="col-6 offset-1 box2">
          <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="..." class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="chartAction">
          <canvas id="chartA"></canvas>
        </div>
      </div>
    </div>

    <div class="dashRight">
      <div class="row cen">
        <div class="chartPolar">
          <canvas id="chartB"></canvas>
        </div>
      </div>
      <div class="row cen">
        <div class="chartPolar">
          <canvas id="chartM"></canvas>
        </div>
      </div>
    </div>

    <div class="dashFooter">
      <h3>逢甲大學</h3>
    </div>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='css/threatLevel.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/threatLevel1.css') }}">

<!-- 引入 chartjs-plugin-datalabels 插件 -->
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>

<script src="{{ url_for('static', filename='js/threatLevel1.js') }}"></script>
{% endblock %}
